<?xml version="1.0" encoding="utf-8"?>
<config>
  <AppConfig>
    <!-- DO NOT CHANGE THESE SETTINGS FOR AVOID ERRORS, OPEN THROUGH THE SETTINGS GUI UNLESS YOU KNOW WHAT YOU ARE DOING! -->
    <ClientID>699283517254795265</ClientID>
    <LargeImg>konna</LargeImg>
    <LargeImgText>Have a nice Day</LargeImgText>
    <SmallImg>ellen</SmallImg>
    <SmallImgText>Online</SmallImgText>
    <DeviceDetail>False</DeviceDetail>
    <UpdatePresence>False</UpdatePresence>
    <PartyEnable>False</PartyEnable>
    <PartySize>3</PartySize>
    <PartyMax>5</PartyMax>
    <PartyMessage>Party</PartyMessage>
    <Button>False</Button>
    <ButtonText></ButtonText>
    <ButtonLink></ButtonLink>
  </AppConfig>
</config>